<!DOCTYPE html>
<html lang="en" th:fragment="dynamic(main)"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TPT</title>

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- AngularJS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- font-awesome -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/assets/css/detail.css}">

<script src="/assets/js/shopping-cart-app.js"></script>

</head>

<body style="background-color: white" ng-app="shopping-cart-app"
	ng-controller="shopping-cart-ctrl">

	<div th:replace="/layout/_menu.html"></div>
	<div style="width: 99%">
		<div class="row mt-3">
			<aside class="col-sm-2 offset-1">
				<div th:replace="/layout/_category.html"></div>
			</aside>

			<article class="col-sm-8">
				<div th:replace="${main}"></div>
			</article>

		</div>
		<footer th:replace="/layout/_footer"></footer>
	</div>
</body>

</html>