
<main class="container">
	<nav class="mt-3">
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link " href="" data-toggle="tab"
				data-target="#edit" role="tab" aria-controls="nav-home"
				aria-selected="true"><i class="fa fa-pencil-square-o"></i>
				Cập Nhật</a> <a href="" class="nav-item nav-link active"
				data-target="#list" data-toggle="tab" role="tab"
				aria-controls="nav-profile" aria-selected="true"><i
				class="fa fa-calendar"></i> Danh Sách Tài Khoản</a>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="list" role="tabpanel"
			aria-labelledby="nav-home-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-bordered mt-2">
						<thead>
							<tr>
								<th style="width: 25%">Tên đăng nhập</th>
								<th style="width: 25%">Họ và tên</th>
								<th style="width: 25%">Email</th>
								<th style="width: 15%">Trạng thái</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items">
								<td>{{item.username}}</td>
								<td>{{item.fullname}}</td>
								<td>{{item.email}}</td>
								<td>{{item.available ? 'Hoạt động': 'Khóa'}}</td>
								<td style="width: 15%" class="text-center">
									<div class="btn-group btn-group-xs">
										<button ng-click="edit(item)"
											class="btn btn-danger glyphicon glyphicon-edit">
											<i class="fa fa-pencil-square-o"></i>
										</button>
										<!-- 	<button ng-click="delete(item)" class="btn btn-danger glyphicon glyphicon-trash">
											<i class="fa fa-trash-o"></i>
										</button> -->
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<button class="btn btn-info" ng-click="pager.first()">
						<i class="fa fa-step-backward" aria-hidden="true"></i>
					</button>
					<button class="btn btn-info" ng-click="pager.prev()">
						<i class="fa fa-caret-left" aria-hidden="true"></i>
					</button>
					<button class="btn btn-info">{{pager.page + 1}} /
						{{pager.count}}</button>
					<button class="btn btn-info" ng-click="pager.next()">
						<i class="fa fa-caret-right" aria-hidden="true"></i>
					</button>
					<button class="btn btn-info" ng-click="pager.last()">
						<i class="fa fa-step-forward" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="edit" role="tabpanel"
			aria-labelledby="nav-profile-tab">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row mt-3">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<form name="form" class="mt-4">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Tên đăng nhập:</label> <input type="text"
											class="form-control" ng-model="form.username" placeholder="">
									</div>
									<div class="form-group col-md-6">
										<label>Mật khẩu:</label> <input type="password"
											ng-model="form.password" class="form-control" placeholder="">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Họ và tên:</label> <input type="text"
											ng-model="form.fullname" class="form-control" placeholder="">
									</div>
									<div class="form-group col-md-6">
										<label>Email:</label> <input type="email" class="form-control"
											ng-model="form.email" placeholder="">
									</div>
								</div>
								<div class="form-row">
									<label>Trạng thái:</label>
									<div class="form-check form-check-inline ml-3">
										<input class="form-check-input" type="radio" name="available"
											ng-value="true" ng-model="form.available"> <label
											class="form-check-label">Hoạt động</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="available"
											ng-value="false" ng-model="form.available"> <label
											class="form-check-label">Khóa</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<div class="dieukhien  pull-right">
							<button class="btn btn-primary" ng-click="create()">Create</button>
							<button class="btn btn-success" ng-click="update()">Update</button>
							<button class="btn btn-danger" ng-click="reset()">Reset</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>