<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<div th:fragment="shopping_cart">
			<h4 class="mt-3 mb-4">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i> GIỎ HÀNG CỦA TÔI <strong style="color: red">({{cart.count}})</strong>
				<a th:href="@{/home/index}" class="btn" style="float: right; background: #FF9966; color: white"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Tiếp tục mua hàng</a>
				<a th:href="@{/order/list}" class="btn btn-info mr-2" style="float: right;"><i class="fa fa-list" aria-hidden="true"></i> Đơn hàng</a>
			</h4>
			
			<table class="table table-bordered">
				<thead class="thead" style="background: #00AE72; color: white">
					<tr class="text-center">
						<th style="width: 35%" scope="col">Sản phẩm</th>
						<th style="width: 15%" scope="col">Giá</th>
						<th style="width: 10%" scope="col">Số lượng</th>
						<th style="width: 15%" scope="col">Tổng tiền</th>
						<th style="width: 10%" scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart.items">
						<td>{{item.name}}</td>
						
						<td>{{item.price | number:2}}</td>
						<td class="text-center"><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty"
								type="number" min="1" style="width: 60%; text-align: center; font-weight: bold;">
						</td>
						<td>{{item.qty*item.price | number:2}}đ</td>
						<td class="text-center">
							<button ng-click="cart.remove(item.id)" style="border: none; color: red; background-color: white;">
								<i class="fa fa-trash" aria-hidden="true"></i></button>
						</td>
					</tr>
				</tbody>
			</table>

			<div>
				<button ng-click="cart.clear()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Xóa tất cả</button>

				<a th:href="@{/order/checkout}" class="btn btn-success" style="float: right;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Thanh toán</a>
			</div>
		</div>
	</main>
</body>

</html>